/* ----STYLESHEET FOR Jacque's Portfolio ----*/

/* ---- BASE STYLES ---- */
/* VARIABLES */
:root {
   --black: #1f202b;
   --white: #ffffff;
   --pink: #fa0075;
}
/* RESET */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
}
li {
   list-style-type: none;
}
body {
   background-color: var(--black);
   color: var(--white);
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5rem;
   width: 100%;
  }
  input, textarea {
   padding: 10px 16px;
   border-radius: 20px;
   border: 2px solid var(--pink);
 }

/*===== MOBILE STYLES =====*/
/*===== HEADER =====*/
header .wrapper {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
   height: 300px;
  }
 header h1 {
   font-size: 32px;
   color: #ffffff;
   margin: 40px 0 50px 0;
  }
nav ul { 
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between; 
  }
 nav ul li a {
   color: #ffffff ;
   font-size: 28px;
   margin-right: 50px;
  } 
  h3 {
   color: #fa0075;
   font-size: 35px;
   font-weight: 900;
   font-family: 'Source Code Pro', monospace;
  }
 
 /* ===== MAIN ===== */
 .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
   height: 1000px;
   background: url('../img/hero-image.png');
   background-size: cover;
   background-position: right;
   padding-right: 200px;
  }
 .hero-image h2 {
   color: #ffffff;
   font-family: 'Source Code Pro', monospace;
   font-size: 40px;
   margin-top: -230px;
   margin-right: 400px;
   text-align: left;
  }
 .hero-image h2 span {
   color: #fa0075;
  }
  /* ===== ABOUT===== */
  #about {
   background-image: url('../img/about-me.png');
   background-size: cover;
   background-position: right;
   height: 1100px;
  }
  .about-me {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
  }
  .about-me h3 {
   margin: 30px 0;
 }
.about-me img {
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
   align-items: flex-start;
   border: 10px outset silver;
   height: 300px;
   padding: 10px;
   width: 300px;
   margin-bottom: 15px;
} 
.about-me p {
   color: #1f202b;
   font-size: 30px;
   font-weight: 800;
   padding: 10px 30px;
 }

 /*===== PORTFOLIO PAGE=====*/
 #portfolio h3 {
    text-align: center;
   margin: 50px 0 100px;
}
 .work {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
} 
.work .projects {
   text-align: center;
   background: var(--pink);
   padding: 10px;
}



/*===== SERVICES PAGE=====*/
#services .container {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
#services h3 {
   text-align: center;
   margin: 100px 0;
   font-size: 50px;
}
.services {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
}
.services .items {
   text-align: center;
   background: var(--pink);
   padding: 10px;
}

.services .items h4 {
   font-size: 30px;
   margin-bottom: 20px;
}
.services .items img {
   max-width: 300px;
   height: 335px;
}


/*===== FOOTER/CONTACT =====*/
#contact {
   padding: 30px 20px;
}
#contact form {
   width: 80%;
   max-width: 400px;
   margin: 20px auto;
   text-align: center;
}
#contact input, #contact textarea {
   width: 100%;
   margin: 10px 0;
}
#contact .button {
   margin-top: 15px;
   padding: 20px;
   color: var(--black);
  border: 2px solid var(--black); 
   border-radius: 5%;
   
}
#contact h3 {
   padding: 50px 0;
   text-align: center;
}
footer {
   background: var(--pink);
   padding: 20px 20px;

}
.connect {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
   margin-top: 40px;
   
}
.connect .connecting {
   text-align: center;
   padding: 10px;
}
.connecting .icons, ul {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
.connecting .icons, a {
   padding-left: 10px;
}
.connecting .icons, p {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
#contact a {
   color: #ffffff;
}
.copyright h6 {
   text-align: center;
}
/*===== SMALL TABLET STYLES =====*/
@media screen and (min-width: 620px){
   
}


/*===== LARGE TABLETS & LAPTOP STYLES =====*/
@media screen and (min-width: 960px){
   header .wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
   }
   .wrapper h1 {
      padding-right: 25%;
      justify-content: flex-start;

   }
   .wrapper nav {
      margin-left: 30%;
   }
   .wrapper a {
      margin-left: -20px;
   }
   .hero-image {
      width: 100%;
   }

}

/*===== DESKTOP STYLES =====*/
@media screen and (min-width: 1200px){
   
} 

